<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Авторизация</title>
    <script>
        function validateLoginForm() {
            const email = document.forms["loginForm"]["email"].value;
            const password = document.forms["loginForm"]["password"].value;

            if (!email || !password) {
                alert("Пожалуйста, заполните все поля.");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>
<h1>Авторизация</h1>
<form name="loginForm" action="/login" method="post" onsubmit="return validateLoginForm()">
    <div>
        <label>Email:
            <input type="email" name="email" required />
        </label>
    </div>
    <div>
        <label>Пароль:
            <input type="password" name="password" required />
        </label>
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>
<a href="/register">Еще не зарегистрированы? Создайте аккаунт</a>
</body>
</html>
